
body{
	background-color: #FADA5E;
}

 h2{
 	font-family: 'Notable', sans-serif;
 	text-decoration: underline;
 	color: blue;
 }


h3{ 
	font-family: 'Notable', sans-serif;
	text-decoration: underline;
	color: blue; }


li{
	font-family: 'Shadows Into Light', cursive;
color: darkblue }